In [1]:
import pandas as pd

In [ ]:
file_path = "../data/ICS.csv"
# reading CSV and skipping bad lines
df = pd.read_csv(file_path, on_bad_lines='skip')
df.head

,identifier,parent,titleEn,titleFr,scopeEn,scopeFr
0,01,NaN,Generalities. Terminology. Standardization. Do...,Généralités. Terminologie. Normalisation. Docu...,NaN,NaN
1,03,NaN,"Services. Company organization, management and...",Services. Organisation de l'entreprise. Gestio...,NaN,NaN
2,07,NaN,Natural and applied sciences,Sciences naturelles et sciences appliquées,NaN,NaN
3,11,NaN,Health care technology,Technologies de la santé,NaN,NaN
4,13,NaN,Environment. Health protection. Safety,Environnement. Protection de la santé. Sécurité,NaN,NaN

In [4]:
print("NULL values in dataset")
df.isnull().sum()

NULL values in dataset

identifier      0
parent         40
titleEn         0
titleFr         0
scopeEn       995
scopeFr       995
dtype: int64

In [6]:
print(f"Shape of Dataframe: {df.shape}")

Shape of Dataframe: (1380, 6)

In [ ]:
# Dropping FRENCH Titles and Scopes
df.drop(['titleFr', 'scopeFr', 'parent'], axis=1, inplace=True)

In [12]:
df.head()

  identifier                                            titleEn scopeEn
0         01  Generalities. Terminology. Standardization. Do...     NaN
1         03  Services. Company organization, management and...     NaN
2         07                       Natural and applied sciences     NaN
3         11                             Health care technology     NaN
4         13             Environment. Health protection. Safety     NaN

In [ ]:
# dropping the first 40 rows
df.drop(df.index[:40], inplace=True)
# reseting the index from 0
df.reset_index(drop=True, inplace=True)

df.head()

,identifier,titleEn,scopeEn
0,01.020,Terminology (principles and coordination),Including terminography
1,01.040,Vocabularies,NaN
2,01.060,Quantities and units,NaN
3,01.070,Colour coding,NaN
4,01.075,Character symbols,NaN

In [ ]:
# saving to CSV
df.to_csv("../data/cleaned_ICS.csv")